services:
  database:
    image: "postgres:latest"

    ports:
      - 5432:5432

    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: devpassword
      POSTGRES_DB: loretale

    volumes:
      - ./db-data/:/var/lib/postgresql/18/data/